<%- include('./partials/head') %>
<main class="index">
  <article>
    <h2>Boeken</h2>
    <ul>
        <% data.filter(item => item.item_type === 'book').forEach(book => { %>
        <li>
            <a href="./detail/<%= book.id %> ">
                <h3><%= book.title %></h3>
                <img src="https://fdnd-agency.directus.app/assets/<%= book.afbeelding %>" alt="<%= book.title %> Image">
            </a>       
        </li>
        
        <% }); %>
    </ul>
    <h2>CD's</h2>
    <ul>
        <% data.filter(item => item.item_type === 'cd').forEach(cd => { %>
        <li>
            <a href="./detail/<%= cd.id %>">
                <h3><%= cd.title %></h3>
                <img src="https://fdnd-agency.directus.app/assets/<%= cd.afbeelding %>" alt="<%= cd.title %> Image">
            </a>
        </li>
        <% }); %>
    </ul>
    <h2>Activiteiten</h2>
    <ul>
        <% data.filter(item => item.item_type === 'activity').forEach(activity => { %>
        <li>
            <a href="./detail/<%= activity.id %>"></a>
                <h3><%= activity.title %></h3>
                <img src="https://fdnd-agency.directus.app/assets/<%= activity.afbeelding %>" alt="<%= activity.title %> Image">
            </a>
        </li>
        <% }); %>
    </ul>
  </article>
</main>
<%- include('./partials/foot') %>