<%- include('./partials/head') %>
<main class="overview">
  <article>
    <ul>
        <h2>Boeken</h2>
        <% data.filter(item => item.item_type === 'book').forEach(book => { %>
            <li onclick="window.location.href='./detail/<%= book.id %>'">
                <h3><%= book.title %></h3>
                <img src="https://fdnd-agency.directus.app/assets/<%= book.afbeelding %>" alt="<%= book.title %> Image">
                €<%= book.price %>
            </li>
        <% }); %>
    </ul>

    <ul>
        <h2>CD's</h2>
        <% data.filter(item => item.item_type === 'cd').forEach(cd => { %>
            <li li onclick="window.location.href='./detail/<%= cd.id %>'">
                <h3><%= cd.title %></h3>
                <img src="https://fdnd-agency.directus.app/assets/<%= cd.afbeelding %>" alt="<%= cd.title %> Image">
                €<%= cd.price %>
            </li>
        <% }); %>
    </ul>

    <ul>
        <h2>Activiteiten</h2>
        <% data.filter(item => item.item_type === 'activity').forEach(activity => { %>
            <li li onclick="window.location.href='./detail/<%= activity.id %>'">
                <h3><%= activity.title %></h3>
                <img src="https://fdnd-agency.directus.app/assets/<%= activity.afbeelding %>" alt="<%= activity.title %> Image">
                €<%= activity.price %>
            </li>
        <% }); %>
    </ul>
  </article>
</main>
<%- include('./partials/foot') %>